# ⚠️NOTE!: This file contains sensitive information such as AWS credentials. Do not share or expose this file publicly.
# ⚠️NOTE!: You should rotate these credentials occasionally to maintain security.
AWS_ACCESS_KEY_ID=ABCD...
AWS_SECRET_ACCESS_KEY=aB1C...
AWS_REGION=us-east-1

# Unless you adjusted the bucket name or analytics prefix in terraform, you can leave this as is.
AWS_S3_BUCKET_NAME=analytics-dump-djoz-portfolio
AWS_S3_BUCKET_PATH_PREFIX=events
